html {
    touch-action: none;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100vh;
}

@media (max-width: 500px) {
    body {
        position: fixed;
        width: 100%;
    }
}

#root {
    height: 100%;
}
